#main_container {
width: 400px;
margin: 20px;
margin-left: auto;
margin-right: auto;
padding: 30px;
font-family: sans-serif;
border-radius: 20px;
border: 3px solid #999;
}

#birth_date_input, #age_container {
text-align: center;
margin: 20px;
margin-left: auto;
margin-right: auto;
}

#age_container {
margin: 40px 5px;
padding: 20px;
border-radius: 50px;
border: 1px solid #000;
font-weight: bolder;
background: green;
font-size: 20px;
line-height: 40px;
}

#calculate {
cursor: pointer;
text-align: center;
width: 200px;
padding: 5px;
margin: 10px;
margin-left: auto;
margin-right: auto;
border: 1px solid #999;
border-radius: 10px;
background: #FFD119;
background: -webkit-gradient(linear, left top, left bottom, from(#FFD119), to(#E6B800));
   background: -moz-linear-gradient(top, #FFD119, #E6B800);
font-weight: bold;
height: 28px;
box-shadow: 0 -8px inset;
}

#calculate:hover {
background: -webkit-gradient(linear, left top, left bottom, from(#E6B800), to(#FFD119));
   background: -moz-linear-gradient(top, #E6B800, #FFD119);
margin-top: 13px;
height: 25px;
box-shadow: 0 -5px inset;
}

#calculate:active {
background: #403300;
padding-top: 10px;
height: 20px;
box-shadow: 0 5px #000 inset;
}

#age {
padding: 5px;
border: 3px dashed #AAA;
background-color: green;
}










body {background-color: #8f9ba5;}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #733380;
  overflow-x: hidden;
  padding-top: 20px;
  max-width: 100px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidenav a:hover:not(.active) {
  background-color: white;
}

.sidenav a.active {
  background-color: grey;
}


footer
{clear:both;
padding:1%;
text-align:center;
background-color:#6f00ff;
color:white;
font-size:80%;}

#wrapper {
	min-width: 1000px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: #818181;
	background-repeat: repeat-y;
	background-position: right;
	box-shadow: 5px 5px 5px #1e1e1e;}
	


img {
  width: 100%;
  max-width: 100px;
}